@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.contactUs {
    display: flex;
    justify-content: space-around;
    height: 90px;
    align-items: center;
    width: 100%;
}

.contactUs p a {
    color: #AE8A2B;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    width: 600;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    font-family: 'Urbanist', sans-serif;
}

.search a {
    color: #ae8A2b;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    width: 600;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    font-family: 'Urbanist', sans-serif;
}

.search {
    display: flex;
}

.search a img {
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    margin-right: 8px;
}

.contactUs .con-icon img {
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    margin-right: 8px;
    margin-top: -2px;
}
.main-img{
    width: 215px;
    object-fit: cover;
}

ul li {
    list-style: none;
}
.novbar ul {
    width: 100%;
    justify-content: center;
    display: flex;
    position: absolute;
    height: 110px;
    align-items: center;
    background-color: #F6F2F2;
    margin-top: 1px;
    z-index: 5;
}
.iconsss {
    width: 6.42px;
    height: 9.48px;
    margin-left: -20px;
}

.icon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
}
.novbar ul li a {
    color: #ae8a2b;
    margin-right: 50px;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}
.back-main-img{
    height: 150px;
}

.shopping{
    height: 100px;
    font-family: 'DM Serif Display', serif;
    color: #AE8A2B;
    font-size: 40px;
    font-weight: 400;
    line-height: 54.84px;
    display: flex;
    justify-content: center;
}

.icons{
    display: flex;
    justify-content: center;
    height: 250px;
}
.icon-free{
    width: 1200px;
    height: 200px;
    border-radius: 25px;
    background: #FFF5F1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.delivery img{
    width: 37.97px;
    height: 33.75px;   
}
.delivery h5{
    height: 49px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px; 
    color: #000;
    display: flex;
    align-items: center; 
}
.lines{
    width: 64px;
    border: 0.4px solid #000;
}
.store{
    color: #888888;
    height: 39px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    display: flex;
    align-items: center; 
}
.delivery{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.packaging{
    height: 880px;
    display: flex;
    justify-content: center;
}
.cardboard{
    width: 1200px;
    height: 822px;
    border: 0.4px solid #000;
}
.movement-one{
    width: 793px;
    height: 200px;
    border: 0.5px solid #000;
    display: flex;
    margin-bottom: 30px;
}
.mov-text{
    width: 600px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mov-text-left h1{
    width: 160px;
    height: 40px;
    font-family: 'DM Serif Display', serif;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.68px;
}
.mov-text-left p{
    color: #000000;
    height: 50px;
    width: 175px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    display: flex;
    align-items: center; 
}
.num1{
    width: 111px;
    height: 42px;
    border-radius: 5px;
    border: 0.5px solid #000;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.num1 img{
    height: 15px;
    width: 15px;
}
.num1 span{
    width: 30px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    display: flex;
    justify-content: center;
}
.num{
    display: flex;
    align-items: center;
}
.heart{
    margin-left: 20px;
    width: 24px;
    height: 24px;
}
.stars img{
    width: 20px;
    height: 20px;
}
.price h2 img{
    width: 16px;
    height: 16.8px;
}
.price h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}
.price{
    margin-top: -70px;
}
.stars{
    height: 40px;
    margin-left: -11px;
}
.summary{
    width: 387px;
    height: 430px;
    border: 0.5px solid #0000;

}
.movement{
    display: flex;
    justify-content: space-between;
}
.sum{
    width: 500px;
    height: 500px;
    border: 0.5px solid #0000;
}
.movement-right{
    width: 387px;
    height: 430px;
    border: 0.5px solid #000; 
    padding: 25px 30px;
}
.movement-right h1{
    width: 165px;
    height: 62px;
    font-family: 'DM Serif Display', serif;
    color: #AE8A2B;
    font-size: 30px;
    font-weight: 400;
    line-height: 41.13px;    
}
.quan h2, .quan2 h2, .quan3 h2{
    width: 62px;
    height: 19px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
}
.quan-num{
    width: 48px;
    height: 21px;
    border-radius: 5px;
    border: 0.6px solid #7D7D7D;
    padding: 1px 12px;
    display: flex;
}
.quan-num img{
    width: 15px;
    height: 15px;
    margin-left: 4px;
}
.quan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.quan2, .quan3{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.quan2 p, .quan3 p{
    width: 53px;
    height: 19px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
    color: #131212;
}
.quan2{
    height: 60px;
    display: flex;
}
.line-mov{
    border: 0.7px solid#646464;
    width: 347px;
}
.main-line{
    height: 60px;
    display: flex;
    align-items: center;
}
.total{
    width: 54px;
    height: 19px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    color: #000 !important;
}
.track{
    width: 338px;
    height: 49px;
    border-radius: 5px;
    padding: 15px 126px;
    background: #AE8A2B;
}
.track a{
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
    color: #fff;
}
.track-main{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.select h1{
    width: 255px;
    height: 34px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 19.2px;
    color: #AE8A2B;
    height: 60px;
    display: flex;
    align-items: center;
}
.select{
    height: 90px;
}

.card, .card2{
    width: 590px;
    height: 124px;
    border: 0.4px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.card-img img, .card-img2 img, .card-img3 img{
    width: 70px;
    height: 70px;
    margin-right: 25px;
}
.card-img, .card-img2{
    display: flex;
    align-items: center;
}
.card-img p{
    width: 122px;
    height: 30px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #595959;
}
.card-img2 p{
    width: 170px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #595959;
}
.card input, .card2 input, .card3 input{
    width: 36px;
    height: 36px;
    border: 3px solid #000 !important;
    color: #000;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23.6px;
}
.inp h6 img{
    width: 12px;
    height: 12.6px;
    color: #000 !important;
}
.inp h6{
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    margin-right: 5px;
    color: #000;
}
.inp{
    display: flex;
    align-items: center;
}
.cards3{
    width: 590px;
    height: 124px;
    border: 0.4px solid #AE8A2B;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.card-img3 p{
    width: 154px;
    height: 30px;
    color: #AE8A2B;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}
.card-img3{
    display: flex;
    align-items: center;
}

.bands{
    height: 220px;
    display: flex;
    justify-content: center;
}
.band  {
    width: 1200px;
    height: 200px;
    border: 0.5px solid #000;
    display: flex;

}
.band img{
    width: 200px;
    height:100%;

}
.watch-band{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.watch-band-head h1{
    width: 230px;
    height: 28px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.42px;
}
.watch-band-head{
    display: flex;
    height: 40px;
}
.stars-band img{
    width: 15px;
    height: 15px;
}
.stars-band{
    margin-top: 5px;
}
.luo{
    width:  642px;
    height: 78px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    color: #6d6c6c
}
.sum{
    width: 111px;
    height: 42px;
    border: 0.5px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.sum img{
    width: 15px;
    height: 15px;
}
.sum span{
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
}
.addTo{
    width: 184px;
    height: 41px;
    border-radius: 5px;
    padding: 11px 50px;
    box-shadow: 10px;
    background: #AE8A2B;

}
.addTo a{
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16.2px;
    color: #fff;
}
.addToCard{
    display: flex;
}
.heart-money .heart1{
    width: 24px;
    height: 24px;
}
.heart-money h6 img{
    width: 16px;
    height: 16px;
}
.heart-money h6{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.heart-money{
    margin-top: 5px;
    text-align: end;
}

.view{
    height: 150px;
    display: flex;
    justify-content: center;
}
 .more {
    width: 173px;
    height: 42px;
    border-radius: 5px;
    box-sizing: 10px;
    padding: 10px 30px;
    border: 0.2px solid #000;
    margin-top: 25px;
    transition: all 0.5s;
 }
 .more a{
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.6px;
    color: #3E2020;
    transition: all 0.5s;
 }
 .more:hover a{
    color: #fff;
    transition: all 0.5s;
 }
 .more:hover{
    background: #3E2020;
 }
 .more:hover i{
    color: #fff !important;
 }

 .question h4 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    height: 40px;
    width: 133px;
    text-align: center;
    color: #fff;
    margin-left: 35px;
}

.question p {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    line-height: 21.6px;
    font-size: 18px;
    text-align: center;
    width: 200px;
    height: 56px;
    color: #000;
    background-color: #fff;
    border: 1px solid #ae8a2b;
    border-radius: 36px;
    padding: 17px 56px;
}

.question img {
    width: 286px;
    height: 425px;
    border: 0.4px solid #ae8a2b;
    border-radius: 6px;

}

.opac {
    position: absolute;
    left: 0;
    top: 0%;
    z-index: 0;
    right: 0;
}

.question {
    position: relative;
    margin-right: 20px;
}

.question-text {
    position: absolute;
    bottom: 25%;
    left: 15%;
}

.keep {
    width: 587px;
    height: 425px;
    border: 0.4px solid #ae8a2b;
    border-radius: 6px;
    margin-right: 20px;
}

.keep h4 {
    /* width: 235px; */
    height: 45px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 41.13px;
    text-align: center;
}

.keep p {
    height: 44px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
    width: 445px;
    height: 170px;
}

.keep div {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
    color: #fff;
    background-color: #000;
    height: 56px;
    width: 237px;
    padding: 17px 19px;
    border: 1px solid #ae8a2b;
    border-radius: 36px;
}

.keep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keepTouch {
    display: flex;
    height: 500px;
    justify-content: center;
    padding-left: 20px;
}

.question-text img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.question-text p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 460px;
    background-color: #444242;
}

.language {
    display: flex;

}

.language h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    width: 115px;
    height: 30px;
}

.language img {
    width: 28.2px;
    height: 29px;
    margin-right: 5px;
}

.home h4 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 41.13px;
    width: 200px;
    height: 61px;
    color: #fff;
}

.home h5 {
    width: 150px;
    height: 42px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #bebebe;

}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.home,
.language {
    width: 300px;
    height: 50px;
}

.line {
    border-bottom: 0.5px solid #fff;
    height: 170px;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.date span {
    width: 36px;
    height: 19px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #bebebe;
    line-height: 19.2px;
}

.date {
    display: flex;
    align-items: center;
    width: 1050px;
}

.date img {
    margin-right: 10px;

}

.media {
    width: 150px;
    text-align: end;
}

.media img {
    margin-right: 12px;
}

.keep input {
    width: 443px;
    height: 29px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    line-height: 21.6px;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 120px;
    margin-bottom: 20px;
    margin-top: -40px;
}

.keep input:focus {
    outline: none;
}